{% extends 'base.html.twig' %}

{% block title %}New Motos{% endblock %}

{% block body %}
    <h1>Create new Motos</h1>

    {{ include('motos/_form.html.twig') }}

    <a href="{{ path('app_motos_index') }}">back to list</a>
{% endblock %}
