{% extends 'base.html.twig' %}

{% block title %}Edit Cmd{% endblock %}

{% block body %}
    <h1>Edit Cmd</h1>

    {{ include('cmd/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cmd_index') }}">back to list</a>

    {{ include('cmd/_delete_form.html.twig') }}
{% endblock %}
