{% extends 'base.html.twig' %}

{% block title %}New Cmd{% endblock %}

{% block body %}
    <h1>Create new Cmd</h1>

    {{ include('cmd/_form.html.twig') }}

    <a href="{{ path('app_cmd_index') }}">back to list</a>
{% endblock %}
